/* static/style.css */

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(16px + 0.390625vw);
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #444444;
}

/* Heading styling */
h1 {
  text-align: center;
  font-family: field-gothic-condensed, sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  font-size: 3.5rem;
  margin: 0;
  color: #fff;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
}

/* Chart wrapper */
.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Chart container */
.chart-container {
  width: 45%;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Canvas styling */
.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  /* Stack charts vertically */
  .charts-wrapper {
    flex-direction: column;
    align-items: center;
  }

  /* Full-width chart containers */
  .chart-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px; /* Optional: Adjust padding for mobile */
  }

  /* Adjust heading font size for mobile */
  h1 {
    font-size: 2.5rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
