/* static/style.css */

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(16px + 0.390625vw);
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #444444;
}

/* Heading styling */
h1 {
  text-align: center;
  font-family: field-gothic-condensed, sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  font-size: 3.5rem;
  margin: 0;
  color: #fff;
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
}

/* Chart wrapper */
.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Chart container */
.chart-container {
  width: 45%;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Canvas styling */
.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}
/* Project description styling */
.project-description {
  max-width: 800px;
  margin: 20px auto 40px auto;
  font-size: 1.2em;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
  font-family: 'field-gothic-condensed', sans-serif;
}
.button-container {
  text-align: center;
  margin: 30px 0;
}

/* GitHub button styling */
.github-button {
  display: inline-block;
  padding: 15px 30px; /* Slightly smaller padding */
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* White text */
  text-decoration: none;
  font-size: 1.8em; /* Slightly smaller font size */
  font-weight: bold;
  border: 2px solid #ffffff; /* White border */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
  font-family: 'field-gothic-condensed', sans-serif;
}

/* Hover effect */
.github-button:hover {
  background-color: #ffffff; /* Fill with white on hover */
  color: #444444; /* Text becomes black */
}

/* Adjust icon alignment if using an icon */
.github-button i {
  margin-right: 10px;
  vertical-align: middle;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  /* Stack charts vertically */
  .charts-wrapper {
    flex-direction: column;
    align-items: center;
  }

  /* Full-width chart containers */
  .chart-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px; /* Optional: Adjust padding for mobile */
  }

  /* Adjust heading font size for mobile */
  h1 {
    font-size: 2.5rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .project-description {
    font-size: 1.1em;
    padding: 0 15px;
  }
}
