<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Multiplayer Game Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Multiplayer Game Dashboard</h1>
  <div class="charts-wrapper">
    <div class="chart-container">
      <canvas id="activePlayersChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="topScoresChart"></canvas>
    </div>
  </div>

  <p class="project-description">
    Welcome to my Multiplayer Game Dashboard. This is a personal project where I explored REST APIs, real-time data visualization, database management, and cloud deployment. The dashboard dynamically displays live data such as active players and top scores, simulating an app to monitor game statistics. Feel free to check out the source code on github.
  </p>

  <div class="button-container">
    <a href="https://github.com/somxr/multiplayer-dashboard" target="_blank" class="github-button">
      <i class="fab fa-github"></i> View Source Code
    </a>
  </div>

  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
